/**
 * Fichier css pour les onglets de menu.html 
 */

/* fond gris */
html{
    background: #9E9EBF;
    /*background: lightsteelblue;*/
    font: 1.1em sans-serif;
}


/* 'table' est le conteneur d'onglets
 * on donne un style bleu dégradé puis on sassure de la compatibilité avec tous les navigateurs,
 * meme les plus anciens
 */
ul, .reserver/*, .bandeau*/ {
    display: table;
    width: 500px;
    margin: 10px 0px 0px 0px;
    padding: 0;       

/* Méthode de "dégradation gracieuse" */
/* couleur uni pour les plus anciens navigateurs */
    background: dodgerblue;          
 
/* surclassement (principe de cascade) pour les navigateurs compatibles => dégradé
   /* chrome, safari, ios android ... */
    background: -webkit-linear-gradient(deepskyblue, dodgerblue);
    /* firefox */
    background:    -moz-linear-gradient(deepskyblue, dodgerblue);
    /* internet explorer */
    background:     -ms-linear-gradient(deepskyblue, dodgerblue);
    /* Opéra */
    background:      -o-linear-gradient(deepskyblue, dodgerblue);
    background:         linear-gradient(deepskyblue, dodgerblue);

    /* bords arrondis */
    border-radius: 3px;
}

ul, .reserver, .titre, .bandeau{
    /* ombres */
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);

}

.reserver{
    width: 100px;
}

/* les onglets dans le conteneur table */
ul li{
    display: table-cell;
        
}

ul li a, .res_text{

/* édition du texte des liens */

    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;

    /* effet d'incrustation du texte*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

/* effet de relief, variation d'ombres sur les onglets */
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
            0 -1px 0 hsl(210, 100%, 32%) inset, 
            0 -2px 0 hsl(210, 100%, 38%) inset, 
            0 -3px 0 hsl(210, 100%, 44%) inset, 
            0 -4px 0 hsl(210, 100%, 50%) inset, 
            0 -5px 0 hsl(210, 100%, 60%) inset;

            /* la modif des marges et des fonds n'est pas brutale quand on survole un onglet
(qd on arrive et qu'on part) avec: */
    /*transition: padding .3s, background .3s;*/
    /* pour tout mettre en transition (pareil ici)*/
	/* transition: all .3s;*/
	/* finalement: */
	transition: all .3s .1s;
}

/* pseudos-classes pour arrondir les coins superieurs du premier et dernier onglets */
ul li:first-child a{
    border-radius: 3px 0 0 3px;
}
ul li:last-child a{
    border-radius: 0 3px 3px 0;
}

.res_text{
    border-radius: 3px 3px 3px 3px;
}

/* Survol avec la souris ("hover") ou "focus" clavier */
ul li a:hover, 
ul li a:focus,
.res_text:hover,
.res_text:focus{
	/* modif du fonds */
    background: rgba(255,255,255,.2);
    /* eclaircissment de chaque ombre de 10 % */
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
    /* elargissment des marges gauche et droite 
	   cette augmentation ne modifie pas la taille du menu car 
	   nous utilisons le modèle de boite tabulaire.
	   De fait, ce sont les éléments "frères" (les autres onglets) 
	   qui sont réduits.
    */
    padding: 8px 15px 17px 15px;
    /* transition un peu differente lorsqu'on survole: background change immédiat;*/
    transition: all .3s 0s;
} 

/* Clic sur l'onglet */
ul li a:active,
.res_text:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    /* les ombres disparaissent presque toutes */
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

.bandeau{
    background: dodgerblue;
    background: lightblue;
    width: 1500px;
    height: 20px;
    margin: 10px 0px;
}

.titre{
/*    background: lightcyan;
    background: antiquewhite;
    background: steelblue;
  */  background: lightblue;
    width: 1500px;
    height: 50px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.myspace_menu{
    
    display: block;
    width: 300px;
    height: 185px;
    background: steelblue;
    background: lightblue;
    margin: 0px 0px 20px 20px;

}

.myspace_menu li{
    
    display: inline;
    
}

.myspace_menu li a{

    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;


}

.search{
 
    width: 1000px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    padding: 10px;
    border: 2px;
    margin-top: 100px;
    margin-right: 100px;
    font-size: 20px;

}

.search:focus{
    width: 80%;
}

@media screen and (min-width: 400px) {
    .image{
        height: 1000px;
    }
}